/*
.navbar
{
    background: linear-gradient(#0b3368, #0b3368);
    height: 4em; 
    
    margin-bottom: 1em !important; 

}
.nav-link
{
    color:#fff;
    font-size : 1.4em;
 

}
a.nav-link
{
    color:#fff !important;
    color:#123;
 

}
*/
.klakebla
{
    display: inline-block;
    white-space: nowrap !important;
    background-color:#fafafa;
  /*  background-color:#0afafa;*/
    width: 98%;
    height: 2.0em;
   /* padding:0.5em;*/
   /* margin-top : -0.5em;*/
    margin-top: -0.2em;
    margin-bottom : 0.1em;
  
}
a.listetasko
{
    text-decoration : none;
    color:#222b;
    font-weight: 300;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    overflow:hidden;
 }
 .td1
{
    white-space: nowrap !important;

}
.navbar 
{
    background: linear-gradient(#0b3368, #0b3368);
   /* height: 4em; */
    margin-bottom: 1em !important; 

}
 a.navbar-brand , a.nav-link
{
    color:#fff !important;
    background: linear-gradient(#0b3368, #0b3368) !important;


}

.titrepage
{
    font-size : 2.15em;

}
/* pied */
.pied
{
    color:#fff;
  /*  background: linear-gradient( #0150b8,#0b3368);*/
   /* background: linear-gradient(#0b3368, #0150b8);*/
   background: linear-gradient(#0b3368, #0b3368) !important;

   color:#bbb;

}
a.pied
{
text-decoration : none;
color:#ccc;
font-size : 0.75em !important;
}
a:hover.pied
{
text-decoration : none;
color:#ddd;
}
 